.subs {
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  height: 200px;
  overflow-y: scroll;
}

td {
  padding-left: 1em;
  padding-right: 1em;
}

#table {
  width: 100%;
  margin: auto;
}


.container {
  margin-top: 3em;
}

.inner-form {
  width: 13em;
}

#targetLanguage {
  padding-bottom: 8px;
  margin-right: 1em;
  padding-right: 10px;
}

.Code-id-style {
  margin-bottom: 2em;
}

#sessionId {
  padding-bottom: 8px;
  margin-right: 1em;
  padding-right: 10px;
}

.input-style {
  width: 5rem;
  padding: 0.6rem;
}

.fa {
  font-size: 24px;
}

.segment-style {
  font-size: 1.5em;
}

